doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title pixivのSlackの絵文字を組み合わせて1番面白い奴が優勝ジェネレーター
		script(src="index.js", defer=true)
	body
		.app
