doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title pixivのSlackの絵文字を組み合わせて1番面白い奴が優勝ジェネレーター
		script(src="index.js", defer=true)
	body
		section.hero.is-primary
			.hero-body
				.container
					h1.title pixivのSlackの絵文字を組み合わせて1番面白い奴が優勝ジェネレーター
		section.section
			.container
				p ソースコード: <a href="https://github.com/hakatashi/pixiv-slack-emoji-typing">https://github.com/hakatashi/pixiv-slack-emoji-typing</a>
				p 参考にしました: <a href="https://ghiblititle.herokuapp.com/">ジブリタイトルを組み合わせて1番面白い奴が優勝ジェネレーター</a>
		section.section
			.container
				.app
