@import "node_modules/bulma/css/bulma.css";

.text-area {
	flex: 1 0 0;
}

.emoji-images {
	padding: 10px;
	min-height: 64px;
	box-sizing: content-box;

	background-color: whitesmoke;
	font-size: 0;
}

.emoji-image {
	width: 64px;
	height: 64px;
	vertical-align: bottom;
	object-fit: contain;
}

.keyboard {
	margin-top: 1em;
}
